<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>wmk38jvebt7h5mmgqu4kaj2vdz1rzre9fftbwjha4dq7rnaxqqucswrzuu1za27w</string>
	<key>clientUsername</key>
	<string>MIFIapiADMIN</string>
	<key>baseURL</key>
	<string>http://mifi.tmsmifi.com/api</string>
</dict>
</plist>
